
a.sign {
    text-decoration: none;
    font-family: sans-serif;
    background: rgb(87 87 119);
    color: white;
    padding: 8px 24px;
    position: relative;
    right: 25px;
    font-weight: 700;
}



/* fter */



img.barish {
    height: 31px;
    width: 33px;
    border-radius: 48px;
}

a.party {
    top: 11px;
    font-family: sans-serif;
    position: relative;
    font-size: 14px;
}
img.beep {
    position: relative;
    border-radius: 47px;
    height: 39px;
    width: 50px;
    top: 215px;
    left: 1079px;
}

.flex {display: flex;flex-wrap: wrap;}


section.number8 {
    margin-top: 67px;
    background-color: #e4e4e4;
    padding: 0 19px;
    width: 1306px;
    margin: auto;
}





a.ttt {
    text-decoration: none;
    color: rgb(60 60 70);
    position: relative;
    left: 130px;
}

.derive {
    margin-bottom: 20px;
    font-family: sans-serif;
}



a.rain {position: relative;left: 42em;}


a.party {
    top: 11px;
    font-family: sans-serif;
    position: relative;
    font-size: 14px;
    margin-right: 32px;
    text-decoration: none;
    color: white;
    
    
    
}


.fter {
    height: 267px;
    width: 55em;
    padding: 84px 233px;
    position: relative;
    left: -138px;
    top: -61px;
    background-color: #e4e4e4;
    padding-bottom: 149px;

}


a.ttt {
    text-decoration: none;
    color: rgb(60 60 70);
    position: relative;
    left: 130px;

    font-size: 21px;
    top: -9px;
}


a.rain {
    position: relative;
    left: 42em;
}

img.barish {

    height: 17px;
    width: 25px;
    margin-right: 22px;
    height: 24px;
    
}



.secndlast {
    position: relative;
    bottom: 169px;
}

.flex { 
    display: flex;
    flex-wrap: wrap;
}

p.rar {
    font-size: 13px;
    color: gray;
    margin: 22px 131px;
}


.derive:nth-child(4) {
    position: relative;
    left: -24px;
}





h1.sms {font-weight: 100;font-size: 41px;position: relative;left: 121px;} 


/* 
fter */

.container
{
    margin: auto;
    max-width: 1280px;
    width: 80%;
}
/* 
header */


nav {
    position: relative;
    display: flex;
    width: 77em;
    padding-left: 45px;
    left: -131px;
    background-color: white;
}




li {
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    left: 39em;
    top: 9px;
}


a.Trend {
    font-size: 28px;
    text-decoration: none;
    color: #323131;
    font-family: sans-serif;
    text-transform: uppercase;
}

a.anchor {
    text-decoration: none;
    color: #323131;
    font-family: sans-serif;
    text-transform: uppercase;
}


li {
    margin-bottom: -23px;
    margin-top: 40px;
    font-size: 15px;
}


ul.ul {
    margin: 17px -250px;
    list-style: none;
    display: flex;
    position: relative;
    top: -39px;
}
/* 
header */


.thatta {
    display: flex;
}

.sing12 {
    position: relative;
    left: 50px;
    top: -7px;
}

section.number10 {
    position: relative;
    left: -8px;
    width: 1341px;
    margin-bottom: 117px;
    height: 915px;
}

img.larkana68 {
    position: relative;
    left: 91px;
    top: -165px;
    z-index: 1;
    height: 303px;
    width: 503px;
}

img.larkana67 {z-index: 1;}




/*dwn wala */



#warped {position: relative; display: block; width:559px; height:440px;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family:'ABeeZee';font-size:12px;font-weight:regular;font-style:normal;
line-height:0.7; white-space:pre; overflow:visible; padding:0px;}

#warped .w0 {-moz-transform: rotate(1.39rad);-webkit-transform: rotate(1.39rad);-o-transform:
rotate(1.39rad);-ms-transform: rotate(1.39rad); transform: rotate(1.39rad);
width: 4px; height: 8px; left: 332.38px; top: 204.92px;}

#warped .w1 {-moz-transform: rotate(1.64rad);-webkit-transform: rotate(1.64rad);-o-transform:
rotate(1.64rad);-ms-transform: rotate(1.64rad); transform: rotate(1.64rad);
width: 6px; height: 8px; left: 331.89px; top: 214.88px;}

#warped .w2 {-moz-transform: rotate(1.92rad);-webkit-transform: rotate(1.92rad);-o-transform:
rotate(1.92rad);-ms-transform: rotate(1.92rad); transform: rotate(1.92rad);
width: 7px; height: 8px; left: 329px; top: 226.09px;}

#warped .w3 {-moz-transform: rotate(2.22rad);-webkit-transform: rotate(2.22rad);-o-transform:
rotate(2.22rad);-ms-transform: rotate(2.22rad); transform: rotate(2.22rad);
width: 8px; height: 8px; left: 322.49px; top: 237px;}

#warped .w4 {-moz-transform: rotate(2.53rad);-webkit-transform: rotate(2.53rad);-o-transform:
rotate(2.53rad);-ms-transform: rotate(2.53rad); transform: rotate(2.53rad);
width: 7px; height: 8px; left: 313.98px; top: 245.6px;}

#warped .w5 {-moz-transform: rotate(2.83rad);-webkit-transform: rotate(2.83rad);-o-transform:
rotate(2.83rad);-ms-transform: rotate(2.83rad); transform: rotate(2.83rad);
width: 8px; height: 8px; left: 302.31px; top: 251.1px;}

#warped .w6 {-moz-transform: rotate(3.1rad);-webkit-transform: rotate(3.1rad);-o-transform:
rotate(3.1rad);-ms-transform: rotate(3.1rad); transform: rotate(3.1rad);
width: 4px; height: 8px; left: 293.51px; top: 252.97px;}

#warped .w7 {-moz-transform: rotate(3.39rad);-webkit-transform: rotate(3.39rad);-o-transform:
rotate(3.39rad);-ms-transform: rotate(3.39rad); transform: rotate(3.39rad);
width: 10px; height: 8px; left: 278.62px; top: 251.66px;}

#warped .w8 {-moz-transform: rotate(3.75rad);-webkit-transform: rotate(3.75rad);-o-transform:
rotate(3.75rad);-ms-transform: rotate(3.75rad); transform: rotate(3.75rad);
width: 9px; height: 8px; left: 266.03px; top: 245.61px;}

#warped .w9 {-moz-transform: rotate(4.06rad);-webkit-transform: rotate(4.06rad);-o-transform:
rotate(4.06rad);-ms-transform: rotate(4.06rad); transform: rotate(4.06rad);
width: 7px; height: 8px; left: 257.71px; top: 236.62px;}

#warped .w10 {-moz-transform: rotate(4.36rad);-webkit-transform: rotate(4.36rad);-o-transform:
rotate(4.36rad);-ms-transform: rotate(4.36rad); transform: rotate(4.36rad);
width: 7px; height: 8px; left: 252px; top: 226.12px;}

#warped .w11 {-moz-transform: rotate(4.61rad);-webkit-transform: rotate(4.61rad);-o-transform:
rotate(4.61rad);-ms-transform: rotate(4.61rad); transform: rotate(4.61rad);
width: 4px; height: 8px; left: 251.18px; top: 215.9px;}

#warped .w12 {-moz-transform: rotate(4.86rad);-webkit-transform: rotate(4.86rad);-o-transform:
rotate(4.86rad);-ms-transform: rotate(4.86rad); transform: rotate(4.86rad);
width: 6px; height: 8px; left: 250.45px; top: 205.93px;}

#warped .w13 {-moz-transform: rotate(5.14rad);-webkit-transform: rotate(5.14rad);-o-transform:
rotate(5.14rad);-ms-transform: rotate(5.14rad); transform: rotate(5.14rad);
width: 7px; height: 8px; left: 253.21px; top: 194.94px;}

#warped .w14 {-moz-transform: rotate(5.44rad);-webkit-transform: rotate(5.44rad);-o-transform:
rotate(5.44rad);-ms-transform: rotate(5.44rad); transform: rotate(5.44rad);
width: 8px; height: 8px; left: 259.55px; top: 184.54px;}

#warped .w15 {-moz-transform: rotate(5.75rad);-webkit-transform: rotate(5.75rad);-o-transform:
rotate(5.75rad);-ms-transform: rotate(5.75rad); transform: rotate(5.75rad);
width: 7px; height: 8px; left: 269.69px; top: 176.66px;}

#warped .w16 {-moz-transform: rotate(6.05rad);-webkit-transform: rotate(6.05rad);-o-transform:
rotate(6.05rad);-ms-transform: rotate(6.05rad); transform: rotate(6.05rad);
width: 8px; height: 8px; left: 280.76px; top: 172.05px;}

#warped .w17 {-moz-transform: rotate(6.32rad);-webkit-transform: rotate(6.32rad);-o-transform:
rotate(6.32rad);-ms-transform: rotate(6.32rad); transform: rotate(6.32rad);
width: 4px; height: 8px; left: 293.68px; top: 171.03px;}

#warped .w18 {-moz-transform: rotate(6.61rad);-webkit-transform: rotate(6.61rad);-o-transform:
rotate(6.61rad);-ms-transform: rotate(6.61rad); transform: rotate(6.61rad);
width: 10px; height: 8px; left: 302.42px; top: 173.26px;}

#warped .w19 {-moz-transform: rotate(6.97rad);-webkit-transform: rotate(6.97rad);-o-transform:
    rotate(6.97rad);-ms-transform: rotate(6.97rad); transform: rotate(6.97rad);
    width: 9px; height: 8px; left: 315.51px; top: 180.31px;}

#warped .w20 {-moz-transform: rotate(7.28rad);-webkit-transform: rotate(7.28rad);-o-transform:
rotate(7.28rad);-ms-transform: rotate(7.28rad); transform: rotate(7.28rad);
width: 7px; height: 8px; left: 325.09px; top: 190px;}

#warped .w21 {-moz-transform: rotate(7.58rad);-webkit-transform: rotate(7.58rad);-o-transform:
rotate(7.58rad);-ms-transform: rotate(7.58rad); transform: rotate(7.58rad);
width: 7px; height: 8px; left: 329.97px; top: 200.91px;}

#warped .w22 {-moz-transform: rotate(7.83rad);-webkit-transform: rotate(7.83rad);-o-transform:
rotate(7.83rad);-ms-transform: rotate(7.83rad); transform: rotate(7.83rad);
width: 4px; height: 8px; left: 332.99px; top: 211.27px;}

#warped .w23 {-moz-transform: rotate(7.47rad);-webkit-transform: rotate(7.47rad);-o-transform:
rotate(7.47rad);-ms-transform: rotate(7.47rad); transform: rotate(7.47rad);
width: 4px; height: 8px; left: 333.88px; top: 195.53px;}

#warped .w24 {-moz-transform: rotate(7.67rad);-webkit-transform: rotate(7.67rad);-o-transform:
rotate(7.67rad);-ms-transform: rotate(7.67rad); transform: rotate(7.67rad);
width: 4px; height: 8px; left: 336.31px; top: 204.18px;}

#warped .w25 {-moz-transform: rotate(7.87rad);-webkit-transform: rotate(7.87rad);-o-transform:
    rotate(7.87rad);-ms-transform: rotate(7.87rad); transform: rotate(7.87rad);
width: 4px; height: 8px; left: 336.98px; top: 213.14px;}

#warped .w26 {-moz-transform: rotate(7.44rad);-webkit-transform: rotate(7.44rad);-o-transform:
rotate(7.44rad);-ms-transform: rotate(7.44rad); transform: rotate(7.44rad);
width: 13px; height: 25px; left: 425.27px; top: 135.68px;}

#warped .w27 {-moz-transform: rotate(7.55rad);-webkit-transform: rotate(7.55rad);-o-transform:
rotate(7.55rad);-ms-transform: rotate(7.55rad); transform: rotate(7.55rad);
width: 10px; height: 25px; left: 432.45px; top: 151.17px;}

#warped .w28 {-moz-transform: rotate(7.68rad);-webkit-transform: rotate(7.68rad);-o-transform:
rotate(7.68rad);-ms-transform: rotate(7.68rad); transform: rotate(7.68rad);
width: 18px; height: 25px; left: 432.84px; top: 169.64px;}

#warped .w29 {-moz-transform: rotate(7.84rad);-webkit-transform: rotate(7.84rad);-o-transform:
rotate(7.84rad);-ms-transform: rotate(7.84rad); transform: rotate(7.84rad);
width: 19px; height: 25px; left: 434.48px; top: 193.02px;}

#warped .w30 {-moz-transform: rotate(7.97rad);-webkit-transform: rotate(7.97rad);-o-transform:
rotate(7.97rad);-ms-transform: rotate(7.97rad); transform: rotate(7.97rad);
width: 11px; height: 25px; left: 437.41px; top: 212.97px;}

#warped .w31 {-moz-transform: rotate(8.08rad);-webkit-transform: rotate(8.08rad);-o-transform:
rotate(8.08rad);-ms-transform: rotate(8.08rad); transform: rotate(8.08rad);
width: 11px; height: 25px; left: 434.65px; top: 228.73px;}

#warped .w32 {-moz-transform: rotate(8.27rad);-webkit-transform: rotate(8.27rad);-o-transform:
rotate(8.27rad);-ms-transform: rotate(8.27rad); transform: rotate(8.27rad);
width: 36px; height: 25px; left: 413.15px; top: 255.72px;}

#warped .w33 {-moz-transform: rotate(8.5rad);-webkit-transform: rotate(8.5rad);-o-transform:
rotate(8.5rad);-ms-transform: rotate(8.5rad); transform: rotate(8.5rad);
width: 23px; height: 25px; left: 402.2px; top: 285.39px;}

#warped .w34 {-moz-transform: rotate(8.66rad);-webkit-transform: rotate(8.66rad);-o-transform:
    rotate(8.66rad);-ms-transform: rotate(8.66rad); transform: rotate(8.66rad);
width: 15px; height: 25px; left: 390.27px; top: 303.31px;}

#warped .w35 {-moz-transform: rotate(8.82rad);-webkit-transform: rotate(8.82rad);-o-transform:
rotate(8.82rad);-ms-transform: rotate(8.82rad); transform: rotate(8.82rad);
width: 23px; height: 25px; left: 367.68px; top: 318.46px;}

#warped .w36 {-moz-transform: rotate(8.96rad);-webkit-transform: rotate(8.96rad);-o-transform:
    rotate(8.96rad);-ms-transform: rotate(8.96rad); transform: rotate(8.96rad);
    width: 11px; height: 25px; left: 354.73px; top: 329.58px;}

#warped .w37 {-moz-transform: rotate(9.07rad);-webkit-transform: rotate(9.07rad);-o-transform:
    rotate(9.07rad);-ms-transform: rotate(9.07rad); transform: rotate(9.07rad);
    width: 10px; height: 25px; left: 340.99px; top: 335.69px;}
    
#warped .w38 {-moz-transform: rotate(9.18rad);-webkit-transform: rotate(9.18rad);-o-transform:
rotate(9.18rad);-ms-transform: rotate(9.18rad); transform: rotate(9.18rad);
width: 15px; height: 25px; left: 321.76px; top: 340.79px;}

#warped .w39 {-moz-transform: rotate(9.31rad);-webkit-transform: rotate(9.31rad);-o-transform:
rotate(9.31rad);-ms-transform: rotate(9.31rad); transform: rotate(9.31rad);
width: 12px; height: 25px; left: 305.06px; top: 344.02px;}

#warped .w40 {-moz-transform: rotate(9.42rad);-webkit-transform: rotate(9.42rad);-o-transform:
    rotate(9.42rad);-ms-transform: rotate(9.42rad); transform: rotate(9.42rad);
width: 11px; height: 25px; left: 289.09px; top: 344.99px;}




div#warped {
    width: 0px;
    height: 0px;
}



div#warped {
    left: 41em;
    font-weight: 900;
    top: -300px;
}

/*dwn wala */



.bin {
    background-image: url(buss.png);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    width: 81em;
    height: 36em;
    position: relative;
    left: -137px;
    top: -25px;
}
h1.head {
    font-size: 73px;
    margin: 11px;
}


h2.sub-head {
    font-size: 37px;
    font-family: auto;
}


h1.head {
    width: 452px;
}

.cntnt {
    position: relative;
    left: 349px;
}

h2.sub-head {
    width: 305px;
}

p.paragraPH {
    padding: 0px 365px;
    position: relative;
    left: -351px;
}

div#warped {
    top: -122px;
}


.bin {
    padding: 0 33px;
    left: -145px;
}

body {
    overflow-x: hidden;
}


h1.head {
    font-size: 95px;
    width: 24em;
}

em {
    position: relative;
    top: -44px;
    left: 17px;
}

h2.sub-head {
    margin: 14px;
    font-size: 77px;
    font-weight: 100;
    width: 818px;
    left: 109px;
    position: relative;
    top: -13px;
}

.cntnt {
    top: 160px;
}

div#warped {
    top: 12px;
    left: 809px;
}


p.paragraPH {
    left: -268px;
    top: -6px;
    padding: 0px 392px;
}

nav {
    top: -12px;
    background-color: white;
    padding: 0px 88px;
}

nav {
    top: -12px;
    background-color: white;
    padding: 0px 88px;
}

.bin {
    padding-bottom: 97px;
}

span.Single , span.tingle , span.ringle , span.pingle {
    font-size: 36px;
}

em.\+ {
    position: relative;
    left: 0;
    top: 0;
}

.para-parent {
    display: flex;
    flex-wrap: wrap;
}


.mmmain {
    display: flex;
}

.pin {
    width: 332px;
}

h1.js {
    font-weight: 100;
}

p.cntnts {
    font-family: sans-serif;
    padding-right: 246px;
    line-height: 1.7;
    padding-right: 0;
    font-size: 13px;
}

em.\+ {
    font-size: 25px;
    font-weight: 700;
}

p.pointt {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding-right: 36px;
}

h1.js {
    font-size: 32px;
}

span.Single, span.tingle, span.ringle, span.pingle {
    font-weight: 600;
}

p.pointt {
    font-size: 11px;
    padding-right: 0;
    width: 181px;
    margin: 0;
}

div#diff {
    position: relative;
    left: -104px;
    top: 0px;
}


img.hut {
    position: relative;
    top: 95px;
    left: -105px;
}

.water:nth-child(1) {
    position: relative;
    left: 76px;
}

section.number4 {
    background-color: #e4e4e4;
    margin: -10px;
}

.sam {
    border: 1px solid #80808063;
    height: 110px;
}

span.minus {
    position: relative;
    left: 184px;
}
.tea {
    display: flex;
    position: relative;
    top: 231px;
}

.lorem {
    height: 549px;
}

.sam {
    height: 207px;
}

ul.png {
    position: relative;
    left: -615px;
    top: -58px;
}


span.minus {
    top: -50px;
    left: 302px;
    font-size: 25px;
}

h2.lara {
    position: relative;
    left: 25px;
}

.sam:hover {
    background-image: url(clean_cleanup.PNG);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease;
}

/* text animate */

body {
    animation: drop-in 1s ease 200ms backwards;
}

h1.head {
    animation: drop-in 1s ease 200ms backwards;
}
   
h1.sub-head {
    animation: drop-in 1s ease 200ms backwards;
}
   
p.paragraPH {
animation: drop-in 1200ms ease 500ms backwards;
}
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
     rotate: 10deg;
    }
    to {
     opacity: 1;
     transform: translate(0px);
     rotate: 0deg;
    }
   }

  /* text animate */

   
h1.club {
    position: relative;
    top: 150px;
    font-size: 42px;
    font-weight: 100;
}

.lorem {
    color: rgb(76 ,76 , 97);
    height: 36em;
}


.tea {
    top: 170px;
}


.solid {
    display: flex;
    position: relative;
    top: 137px;
}

video.video {
    height: 285px;
    margin: 0 9px;
    width: 392px;
}

h2.h2 {
    font-weight: 100;
    position: relative;
    left: 11px;
    color: rgb(76,76,97);
}

p.get {font-weight: 100;font-size: 13px;font-family: sans-serif;padding: 0px 25px;color: rgb(76,76,97);left: -15px;position: relative;}



h1.qq {
    font-size: 37px;
    position: relative;
    top: 163px;
    width: 421px;
    font-weight: 100;
    color: rgb(76 ,76 , 97);
}

/* 
slider ka */

 

.solid {
    position: relative;
    left: 0px;
    width: 1132px;
}

.slick-prev, .slick-next {
    background-color: gray;
    border-radius: 66px;
}

.slick-slide {
    height: 448px;
    margin: 0 40px;
}



.house {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    position: relative;
    top: -73px;
    
}

.yupppp.slick-slide.slick-current.slick-active {
    width: 330px;
}



.yupppp.slick-slide.slick-cloned {
    width: 330px;
}

p.get {
    width: 330px;
}

.yupppp.slick-slide.slick-active {
    width: 330px;
}

img.video {height: 253px;width: 392px;position: relative;left: 6px;top: 32px;margin-bottom: 59px;}

.house {
    position: relative;
    top: -73px;
}

button.slick-prev.slick-arrow {
    position: relative;
    left: 764px;
    height: 19px;
}

button.slick-next.slick-arrow {
    position: relative;
    top: 0px;
    left: -313px;
    height: 19px;
}

/* sectin6 ka css */
.wall {
    color: rgb(76,76,96);
    background-color: #e4e4e4;
    width: 79em;
    position: relative;
    left: -131px;
    top: 77px;
    padding-top: 126px;
    padding-bottom: 73px;
}

.ball {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 136px;
}

.bat {
    width: 300px;
    background-color: #fdfdfd;
    margin: 18px 22px;
    height: 285px;
}

img.cffe {
    height: 115px;
}

h3.junk {
    margin: 0;
    font-size: 28px;
    padding-left: 16px;
}

p.sprt {
    padding: 0px 22px;
    position: relative;
    left: 0;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 2;
}

h1.well {
    padding-left: 153px;
    font-size: 38px;
    font-weight: 100;
}

p.well {
    position: relative;
    left: 157px;
    top: 0px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
}




.calender {
    height: 357px;
    position: relative;
    top: 147px;
    left: 26px;
}

.calculatOr {
    display: flex;
}

a.pin {
    color: #3a4154;
}

.divider {
    color: #2a303ebf;
}

.pen {
    border: 1px #80808054 solid;
    width: 259px;
    width: 228px;
    left: -8px;
    position: relative;
    margin: 0px 13px;
    height: 163px;
}


img.ic {
    height: 42px;
    width: 64px;
    mix-blend-mode: color-burn;
    position: relative;
    top: 16px;
    left: 13px;
}

h2.twist {
    font-size: 16px;
    position: relative;
    left: 22px;
    top: 11px;
}

p.pinss {
    padding: 0px 16px;
    padding: 6px 21px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
img.ics {
    height: 65px;
    width: 71px;
    mix-blend-mode: color-burn;
    position: relative;
    left: 14px;
}
img.icz {
    mix-blend-mode: color-burn;
    height: 36px;
    width: 59px;
    position: relative;
    left: 15px;
    top: 18px;
}

img.icp {
    height: 83px;
    width: 80px;
    mix-blend-mode: color-burn;
    position: relative;
    left: 16px;
    top: -5px;

}

h2.twistie {
    top: -31px;
}

h2.twistt {
    top: -11px;
}


h2.twistie {
    font-size: 16px;
    position: relative;
    left: 22px;
    top: -13px;
}

h2.twistt {
    font-size: 16px;
    position: relative;
    left: 22px;
    top: -22px;
}

p.pinssee {
    position: relative;
    top: -26px;
    padding: 6px 21px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.6;
}

p.pinssed {
    padding: 6px 21px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    top: -33px;
}

.wall {
    left: -140px;
    width: 85em;
}

section.number8 {padding: 103px 19px;}

h1.multiply {
    font-weight: 100;
    font-size: 30px;
}
.responsive {
    display: flex;
}


h1.get {
    font-weight: 100;
    position: relative;
    font-size: 35px;
    left: 16px;
    color: rgb(88 93 103);
}

img.bun {
     width: 229px;
    position: relative;
    left: -42px;
}

p.axo {
    position: relative;
    left: -30px;
    font-size: 14px;
}

span.span {
    font-size: 10px;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    position: relative;
    top: -7px;
    left: -1px;
    color: #000000b3;
}

em.emphasized {
    position: relative;
    top: -3px;
    left: 0;
    font-size: 27px;
}

h2.twistt {
    top: -13px;
}

h2.twistie {
    top: -33px;
}

img.icp {
    height: 72px;
    width: 75px;
}

img.icz {
    height: 33px;
    width: 55px;
    top: 15px;
}

img.ics {
    width: 57px;
}

img.ic {
    height: 44px;
    width: 56px;
}


h1.class {
    position: relative;
    left: -21px;
}

ul.ul {
    left: -46px;
}


img.img {
    height: 77px;
    width: 81px;
}

p.p {
    position: relative;
    left: 142px;
    top: -71px;
    font-size: 20px;
}


p.p {
    left: 165px;
    top: -61px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1.5px;
}

img.img {
    POSITION: RELATIVE;
    left: 73px;
    top: 12px;
}




.div1 {
    left: -129px;
    position: relative;
}


  

.container {
    max-width: 1280px;
    width: 80%;
    margin: auto;
}


/* 
form */

h1.song {
    font-size: 54px;
    font-weight: 100;
    position: relative;
    left: -33px;
    top: -58px;
}

input#form {
    border: none;
    border-bottom: 1px black solid;
    width: 398px;
    font-size: 15px;
    padding-top: 24px;
}

p.form {
    position: relative;
    left: -30px;
    top: -65px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
}

input#form.checkit {
    position: relative;
    left: -189px;
    height: 17px;
    width: 403px;
    top: 2px;
}

a.forgot {
    color: black;
    position: relative;
    left: -307px;
    font-size: 15px;
    top: -3px;
}

button.btn {
    padding: 10px 174px;
    font-size: 17px;
    border: none;
    background-color: #313948;
    color: white;
    margin-top: 20px;
}

p.register {
    position: relative;
    left: -31px;
    top: -52px;
}

a.create {
    color: #313948;
}



.sing {
    width: 43em;
}

.sing11 {
    position: relative;
    top: -261vh;
    left: 216vh;
}


button.btn {
    padding: 18px 219px;
}

input#form {
    width: 495px;
}

a.forgot {
    left: -170px;
}


/* fter */



img.barish {
    height: 31px;
    width: 33px;
    border-radius: 48px;
}

a.party {
    top: 11px;
    font-family: sans-serif;
    position: relative;
    font-size: 14px;
}





.flex {display: flex;flex-wrap: wrap;}

p.rar {
    margin: 22px 131px;
}




a.party {
    top: 11px;
    font-family: sans-serif;
    position: relative;
    font-size: 14px;
}




a.ttt {
    text-decoration: none;
    color: rgb(60 60 70);
}

a.ttt {
    position: relative;
    left: 130px;
}

.derive {
    margin-bottom: 20px;
}


.rung {

    display: flex;
    background-color: #3a3a48;
    width: 80em;
    padding: 17px 58px;
    position: relative;
    left: -141px;
    top: -117px;
    top: -523px;
}

a.rain {position: relative;left: 42em;}

img.barish {
    height: 17px;
    width: 25px;
    margin-right: 22px;
}

a.party {
    margin-right: 32px;
    text-decoration: none;
    color: white;
    
    
    
}




a.ttt {
    text-decoration: none;
    color: rgb(60 60 70);
    position: relative;
    left: 130px;

    font-size: 21px;
    top: -9px;
}


.derive {
    margin-bottom: 20px;
    font-family: sans-serif;
}

a.rain {
    position: relative;
    left: 42em;
}

img.barish {
    height: 17px;
    width: 25px;
    margin-right: 22px;
    height: 24px;
    
}

a.party {
    margin-right: 32px;
    text-decoration: none;
    color: white;
}



.secndlast {
    position: relative;
    bottom: 169px;
}

.flex {display: flex;flex-wrap: wrap;}

p.rar {
    
    font-size: 13px;
    color: gray;
    margin: 22px 131px;
}


.derive:nth-child(4) {
    position: relative;
    left: -24px;
}

section#sec8 {
    position: relative;
    left: -10px;
}

div#diff {
    position: relative;
    left: -107px;
    top: 0px;
}


h1.sms {font-weight: 100;font-size: 41px;position: relative;left: 121px;} 


/* 
fter */



.fter {
    position: relative;
    top: -461px;
}

body {
    color: #313948;
}

section.number4 {
    margin-top: -70px;
}


.error {font-size: 5px;position: relative;top: -3px;}

label#form-error {
    position: relative;
    left: -499px;
    font-size: 13px;
    top: 15px;
}

label#number-error {
    position: relative;
    left: -547px;
    top: 19px;
    font-size: 13px;
}

section.number10 {
    background-color: #e4e4e4;
    padding: 99px 0 0 0;
}

input#form {
    background-color: #e4e4e4;
    width: 479px;
}

footer.ft {
    position: relative;
    top: -82px;
}

.fter {
    background-color: white;
    top: -417px;
    padding-bottom: 214px;
      top: -454px;
}


